.jumbotron {
    margin: 2% 15% 0 15%;
    background-color:blanchedalmond;
    text-align: center;
}

#jtron2 {
    text-align: left;
    margin-bottom: 15px;
}

.nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8rem;
    margin: 2% 15% 0 15%;
}


#submitbtn, #homebttn{
    background-color: white;
    color: black;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-shadow: 3px 3px black;
}

.filler {
    padding: 5px 0 0 0;
}

@media screen and (max-width: 650px) {
    .nav ul{
      float: none;
      width: 100%;
    }
  }